In [1]:
library(readr)

In [2]:
states <- read_csv("states.csv")

Parsed with column specification:
cols(
  state = col_character(),
  capital = col_character(),
  pop_mill = col_double(),
  area_sqm = col_integer()
)

In [3]:
states

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [4]:
potatoes <- read_csv("potatoes.csv")

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

In [6]:
head(potatoes,3)

  area temp size storage method texture flavor moistness
1 1    1    1    1       1      2.9     3.2    3.0
2 1    1    1    1       2      2.3     2.5    2.6
3 1    1    1    1       3      2.5     2.8    2.8

In [7]:
column_names <- c("area", "temp", "size", "storage", "method",
                "texture", "flavor", "moistness")

In [8]:
potatoes_t <- read_tsv("potatoes.txt", col_names = column_names)

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

In [9]:
head(potatoes_t, 3)

  area temp size storage method texture flavor moistness
1 1    1    1    1       1      2.9     3.2    3.0
2 1    1    1    1       2      2.3     2.5    2.6
3 1    1    1    1       3      2.5     2.8    2.8

In [10]:
states2 <- read_delim("states2.txt", delim = "/")

Parsed with column specification:
cols(
  state = col_character(),
  capital = col_character(),
  pop_mill = col_double(),
  area_sqm = col_integer()
)

In [11]:
states2

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [12]:
states3 <- read_delim("states3.txt", delim = "/", col_names = F)

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_character(),
  X3 = col_double(),
  X4 = col_integer()
)

In [13]:
states3

  X1           X2         X3     X4
1 South Dakota Pierre      0.853 77116
2 New York     Albany     19.746 54555
3 Oregon       Salem       3.970 98381
4 Vermont      Montpelier  0.627  9616
5 Hawaii       Honolulu    1.420 10931

In [14]:
states3.1 <- read_delim("states3.txt", delim = "/", col_names = c("state", "city", "pop", "area"))

Parsed with column specification:
cols(
  state = col_character(),
  city = col_character(),
  pop = col_double(),
  area = col_integer()
)

In [15]:
states3.1

  state        city       pop    area
1 South Dakota Pierre      0.853 77116
2 New York     Albany     19.746 54555
3 Oregon       Salem       3.970 98381
4 Vermont      Montpelier  0.627  9616
5 Hawaii       Honolulu    1.420 10931

In [16]:
states2_col <- read_delim("states2.txt", delim = "/", col_types = "ccdd")

In [17]:
states2_col

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [26]:
print(states2_col)

# A tibble: 5 x 4
  state        capital    pop_mill area_sqm
  <chr>        <chr>         <dbl>    <dbl>
1 South Dakota Pierre        0.853    77116
2 New York     Albany       19.7      54555
3 Oregon       Salem         3.97     98381
4 Vermont      Montpelier    0.627     9616
5 Hawaii       Honolulu      1.42     10931

In [19]:
read_delim("states2.txt", skip = 2, n_max = 3, delim = "/")

Parsed with column specification:
cols(
  `New York` = col_character(),
  Albany = col_character(),
  `19.746` = col_double(),
  `54555` = col_integer()
)

  New York Albany     19.746 54555
1 Oregon   Salem      3.970  98381
2 Vermont  Montpelier 0.627   9616
3 Hawaii   Honolulu   1.420  10931

In [24]:
read_delim("states2.txt", skip = 2, delim = "/", col_names = c("state", "capital", "pop", "area"))

Parsed with column specification:
cols(
  state = col_character(),
  capital = col_character(),
  pop = col_double(),
  area = col_integer()
)

  state    capital    pop    area
1 New York Albany     19.746 54555
2 Oregon   Salem       3.970 98381
3 Vermont  Montpelier  0.627  9616
4 Hawaii   Honolulu    1.420 10931

In [25]:
properties <- c("area", "temp", "size", "storage", "method",
                "texture", "flavor", "moistness")

# Import potatoes.txt using read_delim(): potatoes
potatoes_txt <- read_delim("potatoes.txt", delim = "\t", col_names = properties)

# Print out potatoes
print(potatoes)

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

# A tibble: 160 x 8
    area  temp  size storage method texture flavor moistness
   <int> <int> <int>   <int>  <int>   <dbl>  <dbl>     <dbl>
 1     1     1     1       1      1     2.9    3.2       3
 2     1     1     1       1      2     2.3    2.5       2.6
 3     1     1     1       1      3     2.5    2.8       2.8
 4     1     1     1       1      4     2.1    2.9       2.4
 5     1     1     1       1      5     1.9    2.8       2.2
 6     1     1     1       2      1     1.8    3         1.7
 7     1     1     1       2      2     2.6    3.1       2.4
 8     1     1     1       2      3     3      3         2.9
 9     1     1     1       2      4     2.2    3.2       2.5
10     1     1     1       2      5     2      2.8       1.9
# ... with 150 more rows

In [27]:
properties <- c("area", "temp", "size", "storage", "method",
                "texture", "flavor", "moistness")

# Import 5 observations from potatoes.txt: potatoes_fragment
potatoes_fragment <- read_tsv("potatoes.txt", skip = 6, n_max = 5, col_names = properties)

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

In [28]:
potatoes_fragment

  area temp size storage method texture flavor moistness
1 1    1    1    2       2      2.6     3.1    2.4
2 1    1    1    2       3      3.0     3.0    2.9
3 1    1    1    2       4      2.2     3.2    2.5
4 1    1    1    2       5      2.0     2.8    1.9
5 1    1    1    3       1      1.8     2.6    1.5

In [30]:
properties <- c("area", "temp", "size", "storage", "method",
                "texture", "flavor", "moistness")

# Import all data, but force all columns to be character: potatoes_char
potatoes_char <- read_tsv("potatoes.txt", col_types = "cccccccc", col_names = properties)

In [31]:
str(potatoes_char)

Classes 'tbl_df', 'tbl' and 'data.frame':	160 obs. of  8 variables:
 $ area     : chr  "1" "1" "1" "1" ...
 $ temp     : chr  "1" "1" "1" "1" ...
 $ size     : chr  "1" "1" "1" "1" ...
 $ storage  : chr  "1" "1" "1" "1" ...
 $ method   : chr  "1" "2" "3" "4" ...
 $ texture  : chr  "2.9" "2.3" "2.5" "2.1" ...
 $ flavor   : chr  "3.2" "2.5" "2.8" "2.9" ...
 $ moistness: chr  "3.0" "2.6" "2.8" "2.4" ...
 - attr(*, "spec")=List of 2
  ..$ cols   :List of 8
  .. ..$ area     : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ temp     : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ size     : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ storage  : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ method   : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ texture  : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ flavor   : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ moistness: list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  ..$ default: list()
  .. ..- attr(*, "class")= chr  "collector_guess" "collector"
  ..- attr(*, "class")= chr "col_spec"

In [32]:
hotdogs <- read_tsv("hotdogs.txt", col_names = c("type", "calories", "sodium"))

Parsed with column specification:
cols(
  type = col_character(),
  calories = col_integer(),
  sodium = col_integer()
)

In [34]:
head(hotdogs)

  type calories sodium
1 Beef 186      495
2 Beef 181      477
3 Beef 176      425
4 Beef 149      322
5 Beef 184      482
6 Beef 190      587

In [35]:
summary(hotdogs)

     type              calories         sodium
 Length:54          Min.   : 86.0   Min.   :144.0
 Class :character   1st Qu.:132.0   1st Qu.:362.5
 Mode  :character   Median :145.0   Median :405.0
                    Mean   :145.4   Mean   :424.8
                    3rd Qu.:172.8   3rd Qu.:503.5
                    Max.   :195.0   Max.   :645.0

In [36]:
# Import without col_types
hotdogs <- read_tsv("hotdogs.txt", col_names = c("type", "calories", "sodium"))

# Display the summary of hotdogs
summary(hotdogs)

Parsed with column specification:
cols(
  type = col_character(),
  calories = col_integer(),
  sodium = col_integer()
)

     type              calories         sodium
 Length:54          Min.   : 86.0   Min.   :144.0
 Class :character   1st Qu.:132.0   1st Qu.:362.5
 Mode  :character   Median :145.0   Median :405.0
                    Mean   :145.4   Mean   :424.8
                    3rd Qu.:172.8   3rd Qu.:503.5
                    Max.   :195.0   Max.   :645.0

In [37]:
# The collectors you will need to import the data
fac <- col_factor(levels = c("Beef", "Meat", "Poultry"))
int <- col_integer()

# Edit the col_types argument to import the data correctly: hotdogs_factor
hotdogs_factor <- read_tsv("hotdogs.txt",
                           col_names = c("type", "calories", "sodium"),
                           col_types = list(fac,int,int))

# Display the summary of hotdogs_factor
summary(hotdogs_factor)

      type       calories         sodium
 Beef   :20   Min.   : 86.0   Min.   :144.0
 Meat   :17   1st Qu.:132.0   1st Qu.:362.5
 Poultry:17   Median :145.0   Median :405.0
              Mean   :145.4   Mean   :424.8
              3rd Qu.:172.8   3rd Qu.:503.5
              Max.   :195.0   Max.   :645.0