# Importing Excel data

In [1]:
library(readxl)

In [2]:
## listing the sheets of an excel file

excel_sheets("urbanpop.xlsx")

[1] "1960-1966" "1967-1974" "1975-2011"

In [3]:
## importing an excel sheet

pop_1 <- read_excel("urbanpop.xlsx", sheet = 1)

In [4]:
str(pop_1)

Classes 'tbl_df', 'tbl' and 'data.frame':	209 obs. of  8 variables:
 $ country: chr  "Afghanistan" "Albania" "Algeria" "American Samoa" ...
 $ 1960   : num  769308 494443 3293999 NA NA ...
 $ 1961   : num  814923 511803 3515148 13660 8724 ...
 $ 1962   : num  858522 529439 3739963 14166 9700 ...
 $ 1963   : num  903914 547377 3973289 14759 10748 ...
 $ 1964   : num  951226 565572 4220987 15396 11866 ...
 $ 1965   : num  1000582 583983 4488176 16045 13053 ...
 $ 1966   : num  1058743 602512 4649105 16693 14217 ...

In [5]:
pop_2 <- read_excel("urbanpop.xlsx", sheet = 2)

In [6]:
str(pop_2)

Classes 'tbl_df', 'tbl' and 'data.frame':	209 obs. of  9 variables:
 $ country: chr  "Afghanistan" "Albania" "Algeria" "American Samoa" ...
 $ 1967   : num  1119067 621180 4826104 17349 15440 ...
 $ 1968   : num  1182159 639964 5017299 17996 16727 ...
 $ 1969   : num  1248901 658853 5219332 18619 18088 ...
 $ 1970   : num  1319849 677839 5429743 19206 19529 ...
 $ 1971   : num  1409001 698932 5619042 19752 20929 ...
 $ 1972   : num  1502402 720207 5815734 20263 22406 ...
 $ 1973   : num  1598835 741681 6020647 20742 23937 ...
 $ 1974   : num  1696445 763385 6235114 21194 25482 ...

In [7]:
pop_3 <- read_excel("urbanpop.xlsx", sheet = 3)

In [8]:
head(pop_3, 2)

  country     1975    1976      1977      1978      1979      1980
1 Afghanistan 1793266 1905032.6 2021307.7 2142247.7 2268014.6 2398775.0
2 Albania      785350  807989.8  830959.2  854262.4  877898.1  901884.3
  1981      1982      1983      ... 2002    2003    2004    2005    2006
1 2493265.0 2590846.4 2691611.8 ... 5795940 6036100 6285281 6543804 6812538
2  927223.8  952447.4  978476.4 ... 1352278 1391143 1430918 1470488 1512255
  2007    2008    2009    2010    2011
1 7091245 7380272 7679982 7990746 8316976
2 1553491 1594351 1635262 1676545 1716842

In [9]:
## arguments in the read_excel function: read_excel(path, sheet = 1, col_names, col_types, skip = )

In [13]:
## the col_names argument

In [14]:
pop_a <- read_excel("urbanpop.xlsx", sheet = 1, col_names = F)

In [15]:
head(pop_a, 2)

  X__1        X__2   X__3        X__4        X__5         X__6
1 country       1960 1961        1962        1963         1964
2 Afghanistan 769308 814923.0492 858521.6976 903913.86486 951225.94143
  X__7          X__8
1 1965          1966
2 1000582.34999 1058743.467464

In [17]:
cols <- c("country", paste0("year_", 1960:1966))
pop_b <- read_excel("urbanpop_nonames.xlsx", sheet = 1, col_names = cols)

In [18]:
head(pop_b, 3)

  country     year_1960 year_1961 year_1962 year_1963 year_1964 year_1965
1 Afghanistan  769308    814923.0  858521.7  903913.9  951225.9 1000582.3
2 Albania      494443    511802.8  529438.9  547376.7  565571.8  583982.9
3 Algeria     3293999   3515147.5 3739963.0 3973289.1 4220987.0 4488175.6
  year_1966
1 1058743.5
2  602512.2
3 4649105.2

In [19]:
urbanpop_sel <- read_excel("urbanpop.xlsx",
                          sheet = 2,
                          col_names = F,
                          skip = 21)

In [20]:
head(urbanpop_sel,1)

  X__1  X__2     X__3     X__4     X__5     X__6     X__7     X__8     X__9
1 Benin 382022.1 411859.5 443013.1 475611.4 515819.5 557937.6 602093.2 648409.7

# gdata

In [22]:
library(gdata)

gdata: read.xls support for 'XLS' (Excel 97-2004) files ENABLED.

gdata: read.xls support for 'XLSX' (Excel 2007+) files ENABLED.

Attaching package: 'gdata'

The following object is masked from 'package:stats':

    nobs

The following object is masked from 'package:utils':

    object.size

The following object is masked from 'package:base':

    startsWith

In [23]:
urban_pop <- read.xls("urbanpop.xls", sheet = "1967-1974")

In [24]:
head(urban_pop, 11)

   country             X1967       X1968       X1969       X1970
1  Afghanistan          1119067.20  1182159.06  1248900.79  1319848.78
2  Albania               621179.85   639964.46   658853.12   677839.12
3  Algeria              4826104.22  5017298.60  5219331.87  5429743.08
4  American Samoa         17348.66    17995.51    18618.68    19206.39
5  Andorra                15439.62    16726.99    18088.32    19528.96
6  Angola                757496.32   798459.26   841261.96   886401.63
7  Antigua and Barbuda    22086.25    22149.39    22182.92    22180.87
8  Argentina           17753280.98 18124103.64 18510462.30 18918072.79
9  Armenia              1337032.09  1392892.13  1449641.49  1507619.77
10 Aruba                  29414.72    29576.09    29737.87    29901.57
11 Australia            9934404.03 10153969.77 10412390.67 10664093.55
   X1971       X1972       X1973       X1974
1   1409001.09  1502401.79  1598835.45  1696444.83
2    698932.25   720206.57   741681.04   763385.45
3   5619041.53  5815734.49  6020647.35  6235114.38
4     19752.02    20262.67    20741.97    21194.38
5     20928.73    22405.84    23937.05    25481.98
6    955010.09  1027397.35  1103829.78  1184486.23
7     22560.87    22907.76    23221.29    23502.92
8  19329718.16 19763078.00 20211424.85 20664728.90
9   1564367.60  1622103.53  1680497.75  1739063.02
10    30081.36    30279.76    30467.42    30602.87
11 11047706.39 11269945.50 11461120.68 11772934.25

In [25]:
## read.xls() wraps around read.table()

In [26]:
columns <- c("country", paste0("year_", 1967:1974))

# Finish the read.xls call
urban_pop <- read.xls("urbanpop.xls", sheet = 2,
                      skip = 50, header = FALSE, stringsAsFactors = FALSE,
                      col.names = columns)

# Print first 10 observation of urban_pop
head(urban_pop,10)

   country            year_1967   year_1968   year_1969   year_1970
1  Cyprus               231929.74   237831.38   243983.34   250164.52
2  Czech Republic      6204409.91  6266304.50  6326368.97  6348794.89
3  Denmark             3777552.62  3826785.08  3874313.99  3930042.97
4  Djibouti              77788.04    84694.35    92045.77    99845.22
5  Dominica              27550.36    29527.32    31475.62    33328.25
6  Dominican Republic  1535485.43  1625455.76  1718315.40  1814060.00
7  Ecuador             2059355.12  2151395.14  2246890.79  2345864.41
8  Egypt              13798171.00 14248342.19 14703858.22 15162858.52
9  El Salvador         1345528.98  1387218.33  1429378.98  1472181.26
10 Equatorial Guinea     75364.50    77295.03    78445.74    78411.07
   year_1971   year_1972   year_1973   year_1974
1    261213.21   272407.99   283774.90   295379.83
2   6437055.17  6572632.32  6718465.53  6873458.18
3   3981360.12  4028247.92  4076867.28  4120201.43
4    107799.69   116098.23   125391.58   136606.25
5     34761.52    36049.99    37260.05    38501.47
6   1915590.38  2020157.01  2127714.45  2238203.87
7   2453817.78  2565644.81  2681525.25  2801692.62
8  15603661.36 16047814.69 16498633.27 16960827.93
9   1527985.34  1584758.18  1642098.95  1699470.87
10    77055.29    74596.06    71438.96    68179.26

In [27]:
columns <- c("country", paste0("year_", 1967:1974))

# Finish the read.xls call
urban_pop <- read.xls("urbanpop.xls", sheet = 2,
                      skip = 50, header = TRUE, stringsAsFactors = FALSE,
                      col.names = columns)

# Print first 10 observation of urban_pop
head(urban_pop,10)

   country            year_1967   year_1968   year_1969   year_1970
1  Czech Republic      6204409.91  6266304.50  6326368.97  6348794.89
2  Denmark             3777552.62  3826785.08  3874313.99  3930042.97
3  Djibouti              77788.04    84694.35    92045.77    99845.22
4  Dominica              27550.36    29527.32    31475.62    33328.25
5  Dominican Republic  1535485.43  1625455.76  1718315.40  1814060.00
6  Ecuador             2059355.12  2151395.14  2246890.79  2345864.41
7  Egypt              13798171.00 14248342.19 14703858.22 15162858.52
8  El Salvador         1345528.98  1387218.33  1429378.98  1472181.26
9  Equatorial Guinea     75364.50    77295.03    78445.74    78411.07
10 Eritrea              202514.98   212164.57   222186.34   232592.71
   year_1971   year_1972   year_1973   year_1974
1   6437055.17  6572632.32  6718465.53  6873458.18
2   3981360.12  4028247.92  4076867.28  4120201.43
3    107799.69   116098.23   125391.58   136606.25
4     34761.52    36049.99    37260.05    38501.47
5   1915590.38  2020157.01  2127714.45  2238203.87
6   2453817.78  2565644.81  2681525.25  2801692.62
7  15603661.36 16047814.69 16498633.27 16960827.93
8   1527985.34  1584758.18  1642098.95  1699470.87
9     77055.29    74596.06    71438.96    68179.26
10   242031.77   251789.36   262012.66   272904.73

In [28]:
# Finish the read.xls call
urban_pop <- read.xls("urbanpop.xls", sheet = 2,
                      header = FALSE, stringsAsFactors = FALSE,
                      col.names = columns)

# Print first 10 observation of urban_pop
head(urban_pop,10)

   country             year_1967   year_1968   year_1969   year_1970
1  country                 1967.00     1968.00     1969.00     1970.00
2  Afghanistan          1119067.20  1182159.06  1248900.79  1319848.78
3  Albania               621179.85   639964.46   658853.12   677839.12
4  Algeria              4826104.22  5017298.60  5219331.87  5429743.08
5  American Samoa         17348.66    17995.51    18618.68    19206.39
6  Andorra                15439.62    16726.99    18088.32    19528.96
7  Angola                757496.32   798459.26   841261.96   886401.63
8  Antigua and Barbuda    22086.25    22149.39    22182.92    22180.87
9  Argentina           17753280.98 18124103.64 18510462.30 18918072.79
10 Armenia              1337032.09  1392892.13  1449641.49  1507619.77
   year_1971   year_1972   year_1973   year_1974
1      1971.00     1972.00     1973.00     1974.00
2   1409001.09  1502401.79  1598835.45  1696444.83
3    698932.25   720206.57   741681.04   763385.45
4   5619041.53  5815734.49  6020647.35  6235114.38
5     19752.02    20262.67    20741.97    21194.38
6     20928.73    22405.84    23937.05    25481.98
7    955010.09  1027397.35  1103829.78  1184486.23
8     22560.87    22907.76    23221.29    23502.92
9  19329718.16 19763078.00 20211424.85 20664728.90
10  1564367.60  1622103.53  1680497.75  1739063.02

In [29]:
# Finish the read.xls call
urban_pop <- read.xls("urbanpop.xls", sheet = 2,
                      header = TRUE, stringsAsFactors = FALSE,
                      col.names = columns)

# Print first 10 observation of urban_pop
head(urban_pop,10)

   country             year_1967   year_1968   year_1969   year_1970
1  Afghanistan          1119067.20  1182159.06  1248900.79  1319848.78
2  Albania               621179.85   639964.46   658853.12   677839.12
3  Algeria              4826104.22  5017298.60  5219331.87  5429743.08
4  American Samoa         17348.66    17995.51    18618.68    19206.39
5  Andorra                15439.62    16726.99    18088.32    19528.96
6  Angola                757496.32   798459.26   841261.96   886401.63
7  Antigua and Barbuda    22086.25    22149.39    22182.92    22180.87
8  Argentina           17753280.98 18124103.64 18510462.30 18918072.79
9  Armenia              1337032.09  1392892.13  1449641.49  1507619.77
10 Aruba                  29414.72    29576.09    29737.87    29901.57
   year_1971   year_1972   year_1973   year_1974
1   1409001.09  1502401.79  1598835.45  1696444.83
2    698932.25   720206.57   741681.04   763385.45
3   5619041.53  5815734.49  6020647.35  6235114.38
4     19752.02    20262.67    20741.97    21194.38
5     20928.73    22405.84    23937.05    25481.98
6    955010.09  1027397.35  1103829.78  1184486.23
7     22560.87    22907.76    23221.29    23502.92
8  19329718.16 19763078.00 20211424.85 20664728.90
9   1564367.60  1622103.53  1680497.75  1739063.02
10    30081.36    30279.76    30467.42    30602.87

## check the issue of header TRUE and header FALSE combined with passing column names

In [31]:
# Add code to import data from all three sheets in urbanpop.xls
path <- "urbanpop.xls"
urban_sheet1 <- read.xls(path, sheet = 1, stringsAsFactors = FALSE)
urban_sheet2 <- read.xls(path, sheet = 2, stringsAsFactors = FALSE)
urban_sheet3 <- read.xls(path, sheet = 3, stringsAsFactors = FALSE)

In [33]:
head(urban_sheet2,3)

  country     X1967     X1968     X1969     X1970     X1971     X1972
1 Afghanistan 1119067.2 1182159.1 1248900.8 1319848.8 1409001.1 1502401.8
2 Albania      621179.8  639964.5  658853.1  677839.1  698932.2  720206.6
3 Algeria     4826104.2 5017298.6 5219331.9 5429743.1 5619041.5 5815734.5
  X1973   X1974
1 1598835 1696444.8
2  741681  763385.5
3 6020647 6235114.4

In [34]:
head(urban_sheet2[-1],3)

  X1967     X1968     X1969     X1970     X1971     X1972     X1973   X1974
1 1119067.2 1182159.1 1248900.8 1319848.8 1409001.1 1502401.8 1598835 1696444.8
2  621179.8  639964.5  658853.1  677839.1  698932.2  720206.6  741681  763385.5
3 4826104.2 5017298.6 5219331.9 5429743.1 5619041.5 5815734.5 6020647 6235114.4

In [35]:
# Extend the cbind() call to include urban_sheet3: urban
urban <- cbind(urban_sheet1, urban_sheet2[-1], urban_sheet3[-1])

In [36]:
# Remove all rows with NAs from urban: urban_clean
urban_clean <- na.omit(urban)

In [37]:
# Print out a summary of urban_clean
summary(urban_clean)

   country              X1960               X1961               X1962
 Length:197         Min.   :     3378   Min.   :     3433   Min.   :     3481
 Class :character   1st Qu.:    87735   1st Qu.:    92905   1st Qu.:    98331
 Mode  :character   Median :   599714   Median :   630788   Median :   659464
                    Mean   :  5012388   Mean   :  5282488   Mean   :  5440972
                    3rd Qu.:  3130085   3rd Qu.:  3155370   3rd Qu.:  3250211
                    Max.   :126469700   Max.   :129268133   Max.   :131974143
     X1963               X1964               X1965
 Min.   :     3532   Min.   :     3586   Min.   :     3644
 1st Qu.:   104988   1st Qu.:   112084   1st Qu.:   119322
 Median :   704989   Median :   740609   Median :   774957
 Mean   :  5612312   Mean   :  5786961   Mean   :  5964970
 3rd Qu.:  3416490   3rd Qu.:  3585464   3rd Qu.:  3666724
 Max.   :134599886   Max.   :137205240   Max.   :139663053
     X1966               X1967               X1968
 Min.   :     3706   Min.   :     3771   Min.   :     3835
 1st Qu.:   128565   1st Qu.:   138024   1st Qu.:   147846
 Median :   809768   Median :   838449   Median :   890270
 Mean   :  6126413   Mean   :  6288771   Mean   :  6451367
 3rd Qu.:  3871757   3rd Qu.:  4019906   3rd Qu.:  4158186
 Max.   :141962708   Max.   :144201722   Max.   :146340364
     X1969               X1970               X1971
 Min.   :     3893   Min.   :     3941   Min.   :     4017
 1st Qu.:   158252   1st Qu.:   171063   1st Qu.:   181483
 Median :   929450   Median :   976471   Median :  1008630
 Mean   :  6624909   Mean   :  6799110   Mean   :  6980895
 3rd Qu.:  4300669   3rd Qu.:  4440047   3rd Qu.:  4595966
 Max.   :148475901   Max.   :150922373   Max.   :152863831
     X1972               X1973               X1974
 Min.   :     4084   Min.   :     4146   Min.   :     4206
 1st Qu.:   189492   1st Qu.:   197792   1st Qu.:   205410
 Median :  1048738   Median :  1097293   Median :  1159402
 Mean   :  7165338   Mean   :  7349454   Mean   :  7540446
 3rd Qu.:  4766545   3rd Qu.:  4838297   3rd Qu.:  4906384
 Max.   :154530473   Max.   :156034106   Max.   :157488074
     X1975               X1976               X1977
 Min.   :     4267   Min.   :     4334   Min.   :     4402
 1st Qu.:   211746   1st Qu.:   216991   1st Qu.:   222209
 Median :  1223146   Median :  1249829   Median :  1311276
 Mean   :  7731973   Mean   :  7936401   Mean   :  8145945
 3rd Qu.:  5003370   3rd Qu.:  5121118   3rd Qu.:  5227677
 Max.   :159452730   Max.   :165583752   Max.   :171550310
     X1978               X1979               X1980
 Min.   :     4470   Min.   :     4539   Min.   :     4607
 1st Qu.:   227605   1st Qu.:   233461   1st Qu.:   242583
 Median :  1340811   Median :  1448185   Median :  1592397
 Mean   :  8361360   Mean   :  8583138   Mean   :  8808772
 3rd Qu.:  5352746   3rd Qu.:  5558850   3rd Qu.:  5815772
 Max.   :177605736   Max.   :183785364   Max.   :189947471
     X1981               X1982               X1983
 Min.   :     4645   Min.   :     4681   Min.   :     4716
 1st Qu.:   248948   1st Qu.:   257944   1st Qu.:   274139
 Median :  1673079   Median :  1713060   Median :  1730626
 Mean   :  9049163   Mean   :  9295226   Mean   :  9545035
 3rd Qu.:  6070457   3rd Qu.:  6337995   3rd Qu.:  6619987
 Max.   :199385258   Max.   :209435968   Max.   :219680098
     X1984               X1985               X1986
 Min.   :     4750   Min.   :     4782   Min.   :     4809
 1st Qu.:   284939   1st Qu.:   300928   1st Qu.:   307699
 Median :  1749033   Median :  1786125   Median :  1850910
 Mean   :  9798559   Mean   : 10058661   Mean   : 10323839
 3rd Qu.:  6918261   3rd Qu.:  6931780   3rd Qu.:  6935763
 Max.   :229872397   Max.   :240414890   Max.   :251630158
     X1987               X1988               X1989
 Min.   :     4835   Min.   :     4859   Min.   :     4883
 1st Qu.:   321125   1st Qu.:   334616   1st Qu.:   347348
 Median :  1953694   Median :  1997011   Median :  1993544
 Mean   : 10595817   Mean   : 10873041   Mean   : 11154458
 3rd Qu.:  6939905   3rd Qu.:  6945022   3rd Qu.:  6885378
 Max.   :263433513   Max.   :275570541   Max.   :287810747
     X1990               X1991               X1992
 Min.   :     4907   Min.   :     4946   Min.   :     4985
 1st Qu.:   370152   1st Qu.:   394611   1st Qu.:   418788
 Median :  2066505   Median :  2150230   Median :  2237405
 Mean   : 11438543   Mean   : 11725076   Mean   : 12010922
 3rd Qu.:  6830026   3rd Qu.:  6816589   3rd Qu.:  6820099
 Max.   :300165618   Max.   :314689997   Max.   :329099365
     X1993               X1994               X1995
 Min.   :     5024   Min.   :     5062   Min.   :     5100
 1st Qu.:   427457   1st Qu.:   435959   1st Qu.:   461993
 Median :  2322158   Median :  2410297   Median :  2482393
 Mean   : 12296949   Mean   : 12582930   Mean   : 12871480
 3rd Qu.:  7139656   3rd Qu.:  7499901   3rd Qu.:  7708571
 Max.   :343555327   Max.   :358232230   Max.   :373035157
     X1996               X1997               X1998
 Min.   :     5079   Min.   :     5055   Min.   :     5029
 1st Qu.:   488136   1st Qu.:   494203   1st Qu.:   498002
 Median :  2522460   Median :  2606125   Median :  2664983
 Mean   : 13165924   Mean   : 13463675   Mean   : 13762861
 3rd Qu.:  7686092   3rd Qu.:  7664316   3rd Qu.:  7784056
 Max.   :388936607   Max.   :405031716   Max.   :421147610
     X1999               X2000               X2001
 Min.   :     5001   Min.   :     4971   Min.   :     5003
 1st Qu.:   505144   1st Qu.:   525629   1st Qu.:   550638
 Median :  2737809   Median :  2826647   Median :  2925851
 Mean   : 14063387   Mean   : 14369278   Mean   : 14705743
 3rd Qu.:  8083488   3rd Qu.:  8305564   3rd Qu.:  8421967
 Max.   :437126845   Max.   :452999147   Max.   :473204511
     X2002               X2003               X2004
 Min.   :     5034   Min.   :     5064   Min.   :     5090
 1st Qu.:   567531   1st Qu.:   572094   1st Qu.:   593900
 Median :  2928252   Median :  2944934   Median :  2994356
 Mean   : 15043381   Mean   : 15384513   Mean   : 15730299
 3rd Qu.:  8448628   3rd Qu.:  8622732   3rd Qu.:  8999112
 Max.   :493402140   Max.   :513607776   Max.   :533892175
     X2005               X2006               X2007
 Min.   :     5111   Min.   :     5135   Min.   :     5155
 1st Qu.:   620511   1st Qu.:   632659   1st Qu.:   645172
 Median :  3057923   Median :  3269963   Median :  3432024
 Mean   : 16080262   Mean   : 16435872   Mean   : 16797484
 3rd Qu.:  9394001   3rd Qu.:  9689807   3rd Qu.:  9803381
 Max.   :554367818   Max.   :575050081   Max.   :595731464
     X2008               X2009               X2010
 Min.   :     5172   Min.   :     5189   Min.   :     5206
 1st Qu.:   658017   1st Qu.:   671085   1st Qu.:   684302
 Median :  3589395   Median :  3652338   Median :  3676309
 Mean   : 17164898   Mean   : 17533997   Mean   : 17904811
 3rd Qu.: 10210317   3rd Qu.: 10518289   3rd Qu.: 10618596
 Max.   :616552722   Max.   :637533976   Max.   :658557734
     X2011
 Min.   :     5233
 1st Qu.:   698009
 Median :  3664664
 Mean   : 18276297
 3rd Qu.: 10731193
 Max.   :678796403

# Reproducible Excel work with XLConnect

In [38]:
library(XLConnect)

Loading required package: XLConnectJars
XLConnect 0.2-15 by Mirai Solutions GmbH [aut],
  Martin Studer [cre],
  The Apache Software Foundation [ctb, cph] (Apache POI),
  Graph Builder [ctb, cph] (Curvesapi Java library)
http://www.mirai-solutions.com
https://github.com/miraisolutions/xlconnect

In [39]:
my_book <- loadWorkbook("urbanpop.xlsx")

In [40]:
class(my_book)

[1] "workbook"
attr(,"package")
[1] "XLConnect"

In [41]:
## list and read excel sheets

getSheets(my_book)

[1] "1960-1966" "1967-1974" "1975-2011"

In [46]:
my_book <- loadWorkbook("urbanpop.xlsx")

# List the sheets in my_book
getSheets(my_book)

# Import the second sheet in my_book
readWorksheet(my_book, sheet = 2, startRow = 0, endRow = 3)

[1] "1960-1966" "1967-1974" "1975-2011"

  country     X1967     X1968     X1969     X1970     X1971     X1972
1 Afghanistan 1119067.2 1182159.1 1248900.8 1319848.8 1409001.1 1502401.8
2 Albania      621179.8  639964.5  658853.1  677839.1  698932.2  720206.6
  X1973   X1974
1 1598835 1696444.8
2  741681  763385.5

In [45]:
## customize readWorksheet

In [47]:
?readWorksheet

In [48]:
## build connection to urbanpop.xlsx

my_book <- loadWorkbook("urbanpop.xlsx")

In [49]:
# Import columns 3, 4, and 5 from second sheet in my_book: urbanpop_sel

urbanpop_sel <- readWorksheet(my_book, startCol = 3, endCol = 5, sheet = 2)

In [50]:
# Import first column from second sheet in my_book: countries

countries <- readWorksheet(my_book, sheet = 2, startCol = 1, endCol = 1)

In [51]:
selection <- cbind(countries, urbanpop_sel)

In [53]:
head(selection)

  country        X1968      X1969      X1970
1 Afghanistan    1182159.06 1248900.79 1319848.78
2 Albania         639964.46  658853.12  677839.12
3 Algeria        5017298.60 5219331.87 5429743.08
4 American Samoa   17995.51   18618.68   19206.39
5 Andorra          16726.99   18088.32   19528.96
6 Angola          798459.26  841261.96  886401.63

# Adapting sheets

In [54]:
## some new info

pop_2010 <- data.frame(
Capital = c("New York", "Berlin", "Madrid", "Stockholm"),
    Population = c(8191900, 3460725, 3273000, 1372565)
)

In [55]:
pop_2010

  Capital   Population
1 New York  8191900
2 Berlin    3460725
3 Madrid    3273000
4 Stockholm 1372565

In [57]:
book <- loadWorkbook("cities.xlsx")

In [58]:
createSheet(book, name = "year_2010")

In [59]:
## add data to the sheet year_2010

writeWorksheet(book, pop_2010, sheet = "year_2010")

In [65]:
## saving workbook

saveWorkbook(book, file = "cities2.xlsx")

In [61]:
renameSheet(book, "year_1990", "Y1990")
renameSheet(book, "year_2000", "Y2000")
renameSheet(book, "year_2010", "Y2010")

saveWorkbook(book, "cities3.xlsx")

In [64]:
## add worksheet

## load workbook

urban_pop <- loadWorkbook("urbanpop.xlsx")

## add a worksheet named data_summary

createSheet(my_book, name = "data_summary")

## check the sheet names

getSheets(my_book)

[1] "year_1990"    "year_2000"    "data_summary"

In [66]:
## Populate sheet

# XLConnect is already available

# Build connection to urbanpop.xlsx
my_book <- loadWorkbook("urbanpop.xlsx")

# Add a worksheet to my_book, named "data_summary"
createSheet(my_book, "data_summary")

# Create data frame: summ
sheets <- getSheets(my_book)[1:3]
dims <- sapply(sheets, function(x) dim(readWorksheet(my_book, sheet = x)), USE.NAMES = FALSE)
summ <- data.frame(sheets = sheets,
                   nrows = dims[1, ],
                   ncols = dims[2, ])

# Add data in summ to "data_summary" sheet
writeWorksheet(my_book, summ, sheet = "data_summary")

# Save workbook as summary.xlsx
saveWorkbook(my_book, "summary.xlsx")

In [67]:
## renaming sheets

# Rename "data_summary" sheet to "summary"
renameSheet(my_book, "data_summary", "summary")

# Print out sheets of my_book
getSheets(my_book)

# Save workbook to "renamed.xlsx"
saveWorkbook(my_book, "renamed.xlsx")

[1] "1960-1966" "1967-1974" "1975-2011" "summary"

In [68]:
## removing sheets

# Build connection to renamed.xlsx: my_book
my_book <- loadWorkbook("renamed.xlsx")

# Remove the fourth sheet
removeSheet(my_book, sheet = "summary")

# Save workbook to "clean.xlsx"
saveWorkbook(my_book, "clean.xlsx")