In [2]:
states <- read.csv("states.csv")

In [3]:
str(states)

'data.frame':	5 obs. of  4 variables:
 $ state   : Factor w/ 5 levels "Hawaii","New York",..: 4 2 3 5 1
 $ capital : Factor w/ 5 levels "Albany","Honolulu",..: 4 1 5 3 2
 $ pop_mill: num  0.853 19.746 3.97 0.627 1.42
 $ area_sqm: int  77116 54555 98381 9616 10931

In [6]:
states

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [4]:
states_2 <- read.csv("states.csv", stringsAsFactors = FALSE)

In [5]:
str(states_2)

'data.frame':	5 obs. of  4 variables:
 $ state   : chr  "South Dakota" "New York" "Oregon" "Vermont" ...
 $ capital : chr  "Pierre" "Albany" "Salem" "Montpelier" ...
 $ pop_mill: num  0.853 19.746 3.97 0.627 1.42
 $ area_sqm: int  77116 54555 98381 9616 10931

In [7]:
states_2

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [8]:
swimming_pools <- read.csv("swimming_pools.csv")

In [9]:
head(swimming_pools)

  Name                        Address
1 Acacia Ridge Leisure Centre 1391 Beaudesert Road, Acacia Ridge
2 Bellbowrie Pool             Sugarwood Street, Bellbowrie
3 Carole Park                 Cnr Boundary Road and Waterford Road Wacol
4 Centenary Pool (inner City) 400 Gregory Terrace, Spring Hill
5 Chermside Pool              375 Hamilton Road, Chermside
6 Colmslie Pool (Morningside) 400 Lytton Road, Morningside
  Latitude  Longitude
1 -27.58616 153.0264
2 -27.56547 152.8911
3 -27.60744 152.9315
4 -27.45537 153.0251
5 -27.38583 153.0351
6 -27.45516 153.0789

In [10]:
dim(swimming_pools)

[1] 20  4

In [11]:
str(swimming_pools)

'data.frame':	20 obs. of  4 variables:
 $ Name     : Factor w/ 20 levels "Acacia Ridge Leisure Centre",..: 1 2 3 4 5 6 19 7 8 9 ...
 $ Address  : Factor w/ 20 levels "1 Fairlead Crescent, Manly",..: 5 20 18 10 9 11 6 15 12 17 ...
 $ Latitude : num  -27.6 -27.6 -27.6 -27.5 -27.4 ...
 $ Longitude: num  153 153 153 153 153 ...

In [12]:
spools_2 <- read.csv("swimming_pools.csv", stringsAsFactors = FALSE)

In [13]:
str(spools_2)

'data.frame':	20 obs. of  4 variables:
 $ Name     : chr  "Acacia Ridge Leisure Centre" "Bellbowrie Pool" "Carole Park" "Centenary Pool (inner City)" ...
 $ Address  : chr  "1391 Beaudesert Road, Acacia Ridge" "Sugarwood Street, Bellbowrie" "Cnr Boundary Road and Waterford Road Wacol" "400 Gregory Terrace, Spring Hill" ...
 $ Latitude : num  -27.6 -27.6 -27.6 -27.5 -27.4 ...
 $ Longitude: num  153 153 153 153 153 ...

In [17]:
states_3 <- read.delim("states.txt")

In [18]:
states_3

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [19]:
str(states_3)

'data.frame':	5 obs. of  4 variables:
 $ state   : Factor w/ 5 levels "Hawaii","New York",..: 4 2 3 5 1
 $ capital : Factor w/ 5 levels "Albany","Honolulu",..: 4 1 5 3 2
 $ pop_mill: num  0.853 19.746 3.97 0.627 1.42
 $ area_sqm: int  77116 54555 98381 9616 10931

In [20]:
states_4 <- read.table("states2.txt", sep = "/", header = T, stringsAsFactors = F)

In [21]:
states_4

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [22]:
str(states_4)

'data.frame':	5 obs. of  4 variables:
 $ state   : chr  "South Dakota" "New York" "Oregon" "Vermont" ...
 $ capital : chr  "Pierre" "Albany" "Salem" "Montpelier" ...
 $ pop_mill: num  0.853 19.746 3.97 0.627 1.42
 $ area_sqm: int  77116 54555 98381 9616 10931

In [23]:
hotdogs <- read.delim("hotdogs.txt", header = F)

In [25]:
head(hotdogs)

  V1   V2  V3
1 Beef 186 495
2 Beef 181 477
3 Beef 176 425
4 Beef 149 322
5 Beef 184 482
6 Beef 190 587

In [24]:
summary(hotdogs)

       V1           V2              V3
 Beef   :20   Min.   : 86.0   Min.   :144.0
 Meat   :17   1st Qu.:132.0   1st Qu.:362.5
 Poultry:17   Median :145.0   Median :405.0
              Mean   :145.4   Mean   :424.8
              3rd Qu.:172.8   3rd Qu.:503.5
              Max.   :195.0   Max.   :645.0

In [26]:
hotdogs_t <- read.delim("hotdogs.txt", header = T)

In [28]:
head(hotdogs_t)

  Beef X186 X495
1 Beef 181  477
2 Beef 176  425
3 Beef 149  322
4 Beef 184  482
5 Beef 190  587
6 Beef 158  370

In [5]:
hot_dogs_col <- read.table("hotdogs.txt",  sep = "\t", col.names = c("type", "calories", "sodium"))

In [6]:
head(hot_dogs_col)

  type calories sodium
1 Beef 186      495
2 Beef 181      477
3 Beef 176      425
4 Beef 149      322
5 Beef 184      482
6 Beef 190      587

In [7]:
hotdogs <- read.delim("hotdogs.txt", header = F, col.names = c("type", "calories", "sodium"))

In [8]:
# Select the hot dog with the least calories: lily
lily <- hotdogs[which.min(hotdogs$calories), ]

In [9]:
# Select the observation with the most sodium: tom
tom <- hotdogs[which.max(hotdogs$sodium), ]

In [10]:
# Print lily and tom
print(lily)
print(tom)

      type calories sodium
50 Poultry       86    358
   type calories sodium
15 Beef      190    645

In [19]:
hotdogs[which.min(hotdogs$calories), "sodium"]

[1] 358

In [14]:
which.min(hotdogs$calories)

[1] 50

In [18]:
hotdogs[50, "sodium"]

[1] 358

In [20]:
hotdogs <- read.delim("hotdogs.txt", header = F, col.names = c("type", "calories", "sodium"))

In [21]:
head(hotdogs)

  type calories sodium
1 Beef 186      495
2 Beef 181      477
3 Beef 176      425
4 Beef 149      322
5 Beef 184      482
6 Beef 190      587

In [22]:
str(hotdogs)

'data.frame':	54 obs. of  3 variables:
 $ type    : Factor w/ 3 levels "Beef","Meat",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ calories: int  186 181 176 149 184 190 158 139 175 148 ...
 $ sodium  : int  495 477 425 322 482 587 370 322 479 375 ...

In [26]:
hotdogs2 <- read.delim("hotdogs.txt", header = F, col.names = c("type", "calories", "sodium"), 
                       colClasses = c("factor", "NULL", "numeric"))

In [27]:
head(hotdogs2)

  type sodium
1 Beef 495
2 Beef 477
3 Beef 425
4 Beef 322
5 Beef 482
6 Beef 587

In [28]:
str(hotdogs2)

'data.frame':	54 obs. of  2 variables:
 $ type  : Factor w/ 3 levels "Beef","Meat",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ sodium: num  495 477 425 322 482 587 370 322 479 375 ...

In [29]:
read.csv("states_nay.csv", stringsAsFactors = F)

                      state.capital.pop_mill.area_sqm
South Dakota;Pierre;0 853;77116
New York;Albany;19    746;54555
Oregon;Salem;3        97;98381
Vermont;Montpelier;0  627;9616
Hawaii;Honolulu;1     42;10931

In [30]:
read.csv2("states_nay.csv", stringsAsFactors = F)

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [31]:
install.packages("readr")

Installing package into 'C:/Users/aaaaaaaa/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'readr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\aaaaaaaa\AppData\Local\Temp\RtmpI53LuB\downloaded_packages

In [32]:
library(readr)

In [33]:
read_csv("states.csv")

Parsed with column specification:
cols(
  state = col_character(),
  capital = col_character(),
  pop_mill = col_double(),
  area_sqm = col_integer()
)

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [34]:
read_tsv("states.txt")

Parsed with column specification:
cols(
  state = col_character(),
  capital = col_character(),
  pop_mill = col_double(),
  area_sqm = col_integer()
)

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [35]:
read_csv("potatoes.csv")

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

    area temp size storage method texture flavor moistness
1   1    1    1    1       1      2.9     3.2    3.0
2   1    1    1    1       2      2.3     2.5    2.6
3   1    1    1    1       3      2.5     2.8    2.8
4   1    1    1    1       4      2.1     2.9    2.4
5   1    1    1    1       5      1.9     2.8    2.2
6   1    1    1    2       1      1.8     3.0    1.7
7   1    1    1    2       2      2.6     3.1    2.4
8   1    1    1    2       3      3.0     3.0    2.9
9   1    1    1    2       4      2.2     3.2    2.5
10  1    1    1    2       5      2.0     2.8    1.9
11  1    1    1    3       1      1.8     2.6    1.5
12  1    1    1    3       2      2.0     2.8    1.9
13  1    1    1    3       3      2.6     2.6    2.6
14  1    1    1    3       4      2.1     3.2    2.1
15  1    1    1    3       5      2.5     3.0    2.1
16  1    1    1    4       1      2.6     3.1    2.4
17  1    1    1    4       2      2.7     2.9    2.4
18  1    1    1    4       3      2.2     3.1    2.3
19  1    1    1    4       4      3.1     3.4    2.7
20  1    1    1    4       5      3.0     2.6    2.7
21  1    1    2    1       1      3.1     3.0    2.8
22  1    1    2    1       2      2.7     2.8    2.7
23  1    1    2    1       3      2.4     3.0    2.9
24  1    1    2    1       4      2.2     2.9    2.3
25  1    1    2    1       5      1.9     2.9    2.0
26  1    1    2    2       1      1.8     2.6    1.8
27  1    1    2    2       2      2.2     2.9    2.1
28  1    1    2    2       3      2.8     3.2    2.8
29  1    1    2    2       4      2.3     3.2    2.4
30  1    1    2    2       5      2.0     3.0    2.0
... ...  ...  ...  ...     ...    ...     ...    ...
131 2    2    1    3       1      2.8     2.8    2.6
132 2    2    1    3       2      3.5     2.8    3.0
133 2    2    1    3       3      2.5     3.2    2.3
134 2    2    1    3       4      3.3     3.0    2.7
135 2    2    1    3       5      3.5     2.9    2.9
136 2    2    1    4       1      3.2     3.4    2.5
137 2    2    1    4       2      3.3     2.8    2.8
138 2    2    1    4       3      3.0     3.0    2.8
139 2    2    1    4       4      3.5     3.2    3.1
140 2    2    1    4       5      3.4     3.0    2.8
141 2    2    2    1       1      2.7     2.5    2.5
142 2    2    2    1       2      2.5     2.7    2.3
143 2    2    2    1       3      3.2     2.7    3.0
144 2    2    2    1       4      2.4     2.7    2.5
145 2    2    2    1       5      2.7     2.1    2.3
146 2    2    2    2       1      2.2     2.7    2.3
147 2    2    2    2       2      3.1     2.9    2.6
148 2    2    2    2       3      2.2     2.8    3.1
149 2    2    2    2       4      2.9     3.0    2.7
150 2    2    2    2       5      2.8     2.7    2.6
151 2    2    2    3       1      2.5     3.2    2.3
152 2    2    2    3       2      2.9     3.3    2.7
153 2    2    2    3       3      2.5     3.1    2.5
154 2    2    2    3       4      3.0     2.9    2.5
155 2    2    2    3       5      2.9     3.1    3.1
156 2    2    2    4       1      2.7     3.3    2.6
157 2    2    2    4       2      2.6     2.8    2.3
158 2    2    2    4       3      2.5     3.1    2.6
159 2    2    2    4       4      3.4     3.3    3.0
160 2    2    2    4       5      2.5     2.8    2.3

In [36]:
# Column names
properties <- c("area", "temp", "size", "storage", "method",
                "texture", "flavor", "moistness")

# Import potatoes.txt: potatoes
potatoes <- read_tsv("potatoes.txt", col_names = properties)

# Call head() on potatoes
head(potatoes)

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

  area temp size storage method texture flavor moistness
1 1    1    1    1       1      2.9     3.2    3.0
2 1    1    1    1       2      2.3     2.5    2.6
3 1    1    1    1       3      2.5     2.8    2.8
4 1    1    1    1       4      2.1     2.9    2.4
5 1    1    1    1       5      1.9     2.8    2.2
6 1    1    1    2       1      1.8     3.0    1.7