In [1]:
a <- 1:4

In [2]:
a

[1] 1 2 3 4

In [3]:
a[5] <- 100

In [4]:
a

[1]   1   2   3   4 100

In [5]:
a[0]

numeric(0)

In [6]:
a[1]

[1] 1

In [7]:
a[10]<- 200

In [8]:
a

 [1]   1   2   3   4 100  NA  NA  NA  NA 200