[Source: R cookbook, recipe 5.23](https://rc2e.com/datastructures#recipe-id254)

In [1]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
df <- data.frame("A" = rnorm(10), "B" = rbinom(10, 20, 0.5))

In [5]:
df

   A           B
1   0.56199005 12
2   0.33749366 12
3  -1.40660996  7
4   1.68989856  9
5   1.45272278 10
6  -0.37284498 12
7   1.03867464 12
8   0.48986362  5
9   0.01704655 10
10  0.93699530 10

In [9]:
renamed_df <- df %>%
    rename("normal" = "A", "binomial" = "B")

In [10]:
renamed_df

   normal      binomial
1   0.56199005 12
2   0.33749366 12
3  -1.40660996  7
4   1.68989856  9
5   1.45272278 10
6  -0.37284498 12
7   1.03867464 12
8   0.48986362  5
9   0.01704655 10
10  0.93699530 10

In [11]:
df <- data.frame(V1 = 1:3, V2 = 4:6, V3 = 7:9)

In [12]:
df

  V1 V2 V3
1 1  4  7
2 2  5  8
3 3  6  9

In [13]:
df %>%
    rename(new = V1)

  new V2 V3
1 1   4  7
2 2   5  8
3 3   6  9