In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.4     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
names(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [6]:
mtcars %>%
    select(cylinder = cyl, disp, hp) %>%
    slice(1:4)

               cylinder disp hp
Mazda RX4      6        160  110
Mazda RX4 Wag  6        160  110
Datsun 710     4        108   93
Hornet 4 Drive 6        258  110

In [13]:
mtcars$cyl <- factor(mtcars$cyl)

In [14]:
mtcars %>%
    select(cyl) %>%
    slice(1:4)

               cyl
Mazda RX4      6
Mazda RX4 Wag  6
Datsun 710     4
Hornet 4 Drive 6