[Source: R Cookbook, recipe 5.22](https://rc2e.com/datastructures#recipe-id254)

In [1]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [4]:
mtcars %>% 
    select(mpg) %>%
    head()

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

In [5]:
mtcars %>% 
    select(c(mpg, disp)) %>%
    head()

                  mpg  disp
Mazda RX4         21.0 160
Mazda RX4 Wag     21.0 160
Datsun 710        22.8 108
Hornet 4 Drive    21.4 258
Hornet Sportabout 18.7 360
Valiant           18.1 225

In [7]:
mtcars[["mpg"]]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [9]:
mtcars["mpg"] %>% 
    head()

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

In [11]:
head(mtcars[c("mpg", "cyl")])

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8
Valiant           18.1 6

In [14]:
mtcars %>%
    select(mpg:hp) %>%
    head(3)

              mpg  cyl disp hp
Mazda RX4     21.0 6   160  110
Mazda RX4 Wag 21.0 6   160  110
Datsun 710    22.8 4   108   93