[Source:](https://psyteachr.github.io/ug2-practical/permutation-tests-a-skill-set.html)

In [1]:
library(tibble)

In [7]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [11]:
library(purrr)

In [2]:
my_data <- tibble(group = rep(c("A", "B"), c(20, 20)),
                 Y = c(rnorm(20,20,5), rnorm(20, -20, 5)))

In [4]:
head(my_data)

  group Y
1 A     20.41599
2 A     24.99233
3 A     21.14108
4 A     21.92270
5 A     15.87350
6 A     16.29228

In [5]:
tail(my_data)

  group Y
1 B     -17.12882
2 B     -26.55424
3 B     -26.36260
4 B     -18.28417
5 B     -20.73865
6 B     -21.98203

In [9]:
my_data_means <- my_data %>%
    group_by(group) %>%
    summarise(m = mean(Y))

In [10]:
my_data_means

  group m
1 A      21.27294
2 B     -21.34153

In [12]:
vec <- my_data_means %>%
    pull(m)

In [13]:
vec

[1]  21.27294 -21.34153

In [17]:
library(tidyverse)
library(babynames)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.3     v stringr 1.4.0
v tidyr   1.1.3     v forcats 0.5.1
v readr   1.4.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

ERROR: Error in library(babynames): there is no package called 'babynames'

In [18]:
replicate(10, rnorm(100) %>% mean())

 [1]  0.0241730756 -0.0663115598  0.0565121572 -0.1376033103  0.0076719031
 [6]  0.0159454341 -0.0189363569  0.0793276499 -0.1871547317 -0.0005272415

In [19]:
data(relig_income)

In [20]:
head(relig_income)

  religion           <$10k $10-20k $20-30k $30-40k $40-50k $50-75k $75-100k
1 Agnostic            27    34       60     81      76      137    122
2 Atheist             12    27       37     52      35       70     73
3 Buddhist            27    21       30     34      33       58     62
4 Catholic           418   617      732    670     638     1116    949
5 Don’t know/refused  15    14       15     11      10       35     21
6 Evangelical Prot   575   869     1064    982     881     1486    949
  $100-150k >150k Don't know/refused
1 109        84     96
2  59        74     76
3  39        53     54
4 792       633   1489
5  17        18    116
6 723       414   1529

In [21]:
relig_income %>%
    pivot_longer(!religion, names_to = "income", values_to="count")

    religion              income             count
1   Agnostic              <$10k               27
2   Agnostic              $10-20k             34
3   Agnostic              $20-30k             60
4   Agnostic              $30-40k             81
5   Agnostic              $40-50k             76
6   Agnostic              $50-75k            137
7   Agnostic              $75-100k           122
8   Agnostic              $100-150k          109
9   Agnostic              >150k               84
10  Agnostic              Don't know/refused  96
11  Atheist               <$10k               12
12  Atheist               $10-20k             27
13  Atheist               $20-30k             37
14  Atheist               $30-40k             52
15  Atheist               $40-50k             35
16  Atheist               $50-75k             70
17  Atheist               $75-100k            73
18  Atheist               $100-150k           59
19  Atheist               >150k               74
20  Atheist               Don't know/refused  76
21  Buddhist              <$10k               27
22  Buddhist              $10-20k             21
23  Buddhist              $20-30k             30
24  Buddhist              $30-40k             34
25  Buddhist              $40-50k             33
26  Buddhist              $50-75k             58
27  Buddhist              $75-100k            62
28  Buddhist              $100-150k           39
29  Buddhist              >150k               53
30  Buddhist              Don't know/refused  54
... ...                   ...                ...
151 Other Faiths          <$10k               20
152 Other Faiths          $10-20k             33
153 Other Faiths          $20-30k             40
154 Other Faiths          $30-40k             46
155 Other Faiths          $40-50k             49
156 Other Faiths          $50-75k             63
157 Other Faiths          $75-100k            46
158 Other Faiths          $100-150k           40
159 Other Faiths          >150k               41
160 Other Faiths          Don't know/refused  71
161 Other World Religions <$10k                5
162 Other World Religions $10-20k              2
163 Other World Religions $20-30k              3
164 Other World Religions $30-40k              4
165 Other World Religions $40-50k              2
166 Other World Religions $50-75k              7
167 Other World Religions $75-100k             3
168 Other World Religions $100-150k            4
169 Other World Religions >150k                4
170 Other World Religions Don't know/refused   8
171 Unaffiliated          <$10k              217
172 Unaffiliated          $10-20k            299
173 Unaffiliated          $20-30k            374
174 Unaffiliated          $30-40k            365
175 Unaffiliated          $40-50k            341
176 Unaffiliated          $50-75k            528
177 Unaffiliated          $75-100k           407
178 Unaffiliated          $100-150k          321
179 Unaffiliated          >150k              258
180 Unaffiliated          Don't know/refused 597

In [28]:
data <- tibble(group = rep(c("A", "B"), c(5, 5)),
         Y = c(rnorm(5,  10, 5), rnorm(5, -5, 5)))

In [29]:
data

   group Y
1  A      11.860153
2  A      14.617165
3  A      20.682107
4  A       2.740536
5  A      11.612504
6  B      -4.264872
7  B     -13.151586
8  B      -7.315738
9  B      -5.780818
10 B     -16.667617

In [30]:
data %>% 
    group_by(group) %>%
    summarise(m = mean(Y))

  group m
1 A     12.302493
2 B     -9.436126

In [34]:
data %>%
    group_by(group) %>%
    summarise(m = mean(Y)) %>%
    pivot_wider(names_from = "group", values_from = "m") %>%
    mutate(diff = A - B) %>%
    pull(diff)

[1] 21.73862

In [36]:
data <- tibble(group = rep(c("A", "B"), c(5, 5)), 
      Y = c(rnorm(5, 20), rnorm(5, -20)))

In [41]:
data %>% 
    group_by(group) %>%
    summarise(m = mean(Y), s = sum(Y))

  group m         s
1 A      19.23129   96.15644
2 B     -20.31987 -101.59936

In [46]:
data %>% 
    group_by(group) %>%
    summarise(m = mean(Y)) %>%
    pivot_wider(names_from = "group", values_from = "m") %>%
    mutate(diff = A - B) %>%
    pull(diff)

[1] 39.55116

In [47]:
dat <- tibble(group = rep(c("A", "B"), each = 3),
               Y = c(rnorm(3, 100, 15),
                     rnorm(3, 110, 15)))

In [48]:
dat

  group Y
1 A      92.35482
2 A      96.95483
3 A     104.79661
4 B     112.19405
5 B     127.15462
6 B      91.32910

In [51]:
dat %>%
    mutate(group = sample(group))

  group Y
1 B      92.35482
2 A      96.95483
3 A     104.79661
4 B     112.19405
5 B     127.15462
6 A      91.32910