[Source:](http://www.cookbook-r.com/Manipulating_data/Converting_data_between_wide_and_long_format/)

[Pivot longer](https://tidyr.tidyverse.org/reference/pivot_longer.html)

In [3]:
library(tidyverse)

-- Attaching packages ----------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.4     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts -------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [8]:
wide_data <- data.frame(subject = factor(c(1, 2, 3, 4)), sex = factor(x = c("M", "F", "F", "M")),
                       control = rnorm(4, mean = 10, sd = 3), 
                        cond1 = rnorm(4, mean = 20, sd = 10), 
                        cond2 = rnorm(4, mean = 9, sd = 0.1))

In [9]:
wide_data

  subject sex control  cond1    cond2
1 1       M   11.54463 10.95272 9.212448
2 2       F   13.08664 32.11338 9.016546
3 3       F   11.20870 18.20959 9.047161
4 4       M   10.10808 24.01204 8.934286

In [13]:
pivot_longer(wide_data, names_to = "condition", cols = c(control, cond1, cond2), values_to = "measurement")

   subject sex condition measurement
1  1       M   control   11.544628
2  1       M   cond1     10.952724
3  1       M   cond2      9.212448
4  2       F   control   13.086637
5  2       F   cond1     32.113385
6  2       F   cond2      9.016546
7  3       F   control   11.208701
8  3       F   cond1     18.209586
9  3       F   cond2      9.047161
10 4       M   control   10.108083
11 4       M   cond1     24.012037
12 4       M   cond2      8.934286